@using InhumanShopApp.Models.Product
@model IEnumerable<ProductInfoViewModel>

@{
    ViewData["Title"] = "All products";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var successMessage = TempData["SuccessMessage"] as string;
}

<div class="message">
    @if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="alert alert-success" role="alert">
            @successMessage
        </div>
        <script>
            setTimeout(function () {
                document.querySelector('.alert').style.display = 'none';
            }, 5000);
        </script>
    }
</div>

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
    @if(User.IsInRole("Administrator"))
    {
        <a asp-controller="Product" asp-action="Add" class="btn btn-primary">
            <i class="fas fa-plus"></i> Add Product
        </a>
    }
    else
    {
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
            <i class="fas fa-plus"></i> Back
        </a>
    }
</div>
<hr />

<!-- Search and Filter Form -->
@* <form method="get">
    <div class="row">
        <div class="form-group col-md-3 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="Category"></label>
                <select asp-for="Category" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="...">
        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0">Newest</option>
                    <option value="1">Lowest price first</option>
                    <option value="2">Not rented first</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group mt-4 p-2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form> *@

@if (Model != null && Model.Count() > 0)
{
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card h-100" style="width: 100%;">
                    @if (!string.IsNullOrEmpty(product.ImageUrl))
                    {
                        <img src="@product.ImageUrl" class="card-img-top" style="max-height:    150px; object-fit: contain;" alt="@product.Name">
                    }
                    else
                    {
                        <img src="~/images/Products/default-image.jpg" class="card-img-top"     style="max-height: 150px; object-fit: contain;" alt="No Image   Available">
                    }
    
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text"><small>Description: @product.Description</small></p>
                        <p></p>
                        <p class="card-text">Category: @product.Category</p>
                        <p class="card-text"><small>Price: @product.Price $</small></p>
                        <div class="d-flex justify-content-between mt-auto">
                            @if (!User.IsInRole("Administrator"))
                            {
                                <a asp-controller="UserProduct" asp-action="Details" asp-route-id="@product.Id" class="btn btn-info me-2 w-100">
                                    <i class="fas fa-info-circle"></i> Details
                                </a>
                            }
                            else
                            {
                                <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-info me-2 w-50">
                                    <i class="fas fa-info-circle"></i> Edit
                                </a>
                                <form asp-controller="Product" asp-action="Delete" method="get"     class="w-50">
                                    <input type="hidden" name="id" value="@product.Id" />
                                    <button type="submit" class="btn btn-success w-100">
                                        <i class="fas fa-heart"></i> Delete
                                    </button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p class="white-text">No available products.</p>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}

@section Styles {
    <link rel="stylesheet" href="~/css/product.css" />
}
